/* サイト全体 */
body{
  background-color: #DDDDDD;
  letter-spacing: 1px;
  background-image: url("b065.gif");
  word-break: break-all;
}

ul,li{
  list-style: none;
}

ul,li a{
  text-decoration: none;
}

ul,li a:hover{
  color: #999999;
  transition: all .3s;
  opacity: .8;
}

/* ヘッダー */
.label a{
  font-size: 80px;
  font-family: 'Fredericka the Great', cursive;
  margin-left: 68%;
  white-space: nowrap;
  color: black;
  display: inline-block;
  display: block;
  text-decoration: none;
}
#header {
  width: 100%;
  height: 400px;
  background-image: url(textile-2918844_1920.jpg);
  padding: 0;
  display: flex;
  background-size: auto;
  align-items: center;
  position: absolute;
  margin-left: -10px;
  margin-top: -10px;
  position: absolute;
}



/* サイトのナビ */
#sitenavi1{
  padding: 10px;
  font-family: 'Annie Use Your Telescope', cursive;
  z-index: 100;
  
}

#sitenavi1 ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  background-color: aliceblue;
  margin-top: 400px;
  transition: all .3s ease 0s;
  width: 1500px;
  margin-left: 200px;
}

#sitenavi1 li{
  display: inline-block;
  transition: all .3s ease 0s;
}

#sitenavi1 li:hover{
  transform: scale(1.2);
}

#sitenavi1 li a{
  font-weight: bold;
  font-size: 40px;
  padding: 0 20px;
  color: #111111;
}





#sitenavi2{
  position: relative;
  padding: 10px;
  font-family: 'Annie Use Your Telescope', cursive;
  height: 100px;
  z-index: 100;
  font-size: 30px;
  flex-direction: row;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
}


/* プロフィール */
.section .inner{
  padding: 100px ;
}

.section .inner1{
  margin-left: -400px;
  margin-top: 200px;
}
.section .inner2{
  margin-left: 400px;
  margin-top: 150px;
}
.section .inner3{
  margin-left: -400px;
  margin-top: 150px;
}
.section .inner4{
  margin-left: 400px;
  margin-top: 150px;
  letter-spacing: 10px;
}

.section-title  h1,h2,h3,h4{
  letter-spacing: 7px;
  background-color: rgba(255,255,255,.5);
  box-shadow: 0 0 3px rgba(0,0,0,0.3);
  border-right: 2px dotted rgba(0,0,0,.1);
  border-left: 2px dotted rgba(0,0,0,.1);
}

.section-title h1 {
  width: 350px;
  text-align: center;
  font-size: 45px;
  font-family: 'Lexend Giga', sans-serif;
  margin-left: 800px;
  margin-bottom: -20px;
  transform: rotate(5deg);

}
.section-title h2 {
  width: 300px;
  text-align: center;
  font-size: 45px;
  font-family: 'Lexend Giga', sans-serif;
  margin-left: 800px;
  margin-bottom: -20px;
  transform: rotate(-5deg);
}
.section-title h3 {
  width: 500px;
  text-align: center;
  font-size: 45px;
  font-family: 'Lexend Giga', sans-serif;
  margin-left: 700px;
  margin-bottom: -20px;
  transform: rotate(5deg);
}
.section-title h4 {
  width: 350px;
  text-align: center;
  font-size: 45px;
  font-family: 'Lexend Giga', sans-serif;
  margin-left: 750px;
  margin-bottom: -20px;
  transform: rotate(-5deg);
}

.section-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 50px;
  width: 500px;
  height: 400px;
  overflow: hidden;
  box-shadow: 0 .25rem .25rem hsla(0, 0%, 0%, .1);
  background-image:
    linear-gradient(180deg, hsla(0, 0%, 45%, .1) 2rem, hsla(0, 100%, 100%, 0) 2.5rem)
  , linear-gradient(180deg, hsla(60, 100%, 75%,1), hsla(60, 100%, 75%, 1));
  font-size: 1.125rem;
  line-height: 1.8;
  margin-left: 650px;
}

.section-plot p1 {
  text-align: center;
  font-size: 20px;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 500;
  margin: 30%;
}

/* フッター */
#footer{
  background-image: url("b113.jpg");
  margin: -8px;
  margin-top: 200px;
  height: -50%;
}

#footer .inner{
  padding: 30px;
}

#footer .copyright{
  font-size: 15px;
  color: black;
  text-align: center;
}